#@layout()



#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            提示信息
            <small>Warning</small>
        </h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                    </div>

                    <form class="form-horizontal form-setting" autocomplete="off">
                        <div class="box-body ">

                            <span>
                                您删除的品牌存在对应商品，请先删除对应商品!
                            </span>



                        </div>
                        <div class="box-footer">
                            <div class="col-sm-offset-2 col-sm-10 submit-block">
                                <div class="box-submit">
                                    <button type="submit" class="btn btn-primary" >前往删除</button>
                                    <button type="submit" class="btn btn-primary" >返回</button>
                                </div>

                            </div>


                        </div>
                    </form>


                </div>
                <!-- /.box -->
            </div>
        </div>

    </section>


</div>
#end


